[submodule "libs/ptlib"]
	path = libs/ptlib
	url = https://github.com/joegen/opalvoip-ptlib
[submodule "libs/opal"]
	path = libs/opal
	url = https://github.com/joegen/opalvoip-opal
[submodule "libs/resiprocate"]
	path = libs/resiprocate
	url = https://github.com/resiprocate/resiprocate.git
[submodule "apps/node"]
	path = apps/node
	url = https://github.com/nodejs/node
[submodule "apps/captagent"]
	path = apps/captagent
	url = https://github.com/sipcapture/captagent.git
[submodule "apps/sniffer"]
	path = apps/sniffer
	url = https://github.com/voipmonitor/sniffer
