Source: karoolibs
Section: libs
Priority: extra
Maintainer: Joegen Baclor <joegen@ossapp.com>
Uploaders:  Joegen Baclor <joegen@ossapp.com>
Homepage: http://www.ossapp.com/
Standards-Version: 3.9.5
Build-Depends: gperf, 
	flex, 
	bison, 
	unixodbc-dev, 
	zlib1g-dev, 
	libasio-dev, 
	libboost-all-dev, 
	libc-ares-dev, 
	libcppunit-dev, 
	libcurl-dev, 
	libgdbm-dev, 
	libgtest-dev, 
	libhiredis-dev, 
	libdnet-dev, 
	libevent-dev, 
	libltdl-dev, 
	libodb-mysql-dev, 
	libssl-dev, 
	libpcre3-dev, 
	libpopt-dev, 
	libv8-dev, 
	libxerces-c-dev, 
	libzmq-dev, 
	libleveldb-dev, 
	libhttp-parser-dev, 
	libexpat-dev, 
	libdb-dev,
	libconfig++-dev, 
	libjpeg-dev, 
	libmcrypt4, 
	libogg-dev, 
	libpcap-dev, 
	libtheora-dev, 
	libtiff-dev, 
	libvorbis-dev, 
	libxml2-dev, 
	libncurses-dev, 
	libpoco-dev, 
	libspeex-dev, 
	libpcre3-dev, 
	libxmlrpc-c++8-dev, 
	libxmlrpc-core-c3-dev, 
	libuv0.10-dev


Package: karoolibs-2.0.3
Architecture: any
Description: Karoo Bridge shared libraries and applications
Depends:  boost, 
	libc-ares2, 
	curl, 
	libdb, 
	libgdbm, 
	libhiredis0.13, 
	libdns162, 
	libconfig++, 
	libdnet, 
	libevent-2.0-5, 
	libjpeg8, 
	libmcrypt4, 
	libogg0, 
	libpcap0.8, 
	libtheora0, 
	libtiff5, 
	libltdl7, 
	libvorbis0a, libvorbisenc2, 
	libxml2, 
	libncurses5, libncursesw5,
	libssl1.0.0, 
	libpcre3, 
	libpocofoundation9v5, 
	libpoconetssl9v5, 
	libpoconet9v5, 
	libpocoutil9v5, 
	libpocoxml9v5, 
	python, 
	libspeex1, 
	unixodbc, 
	libv8-3.14.5, 
	libxmlrpc-c++8v5, libxmlrpc-core-c3,
	zlib1g, 
	libzmq5, 
	libleveldb1v5, 
	redis-server, libhiredis0.13,
	net-tools, 
	lighttpd, 
	libhttp-parser2.1, 
	libexpat1, 
	flex, bison,
	libuv0.10


Package: karoolibs-2.0.3-dev
Section: libdevel
Architecture: any
Depends: karoolibs-2.0.3,
	gperf, 
	flex, 
	bison, 
	unixodbc-dev, 
	zlib1g-dev, 
	libasio-dev, 
	libboost-all-dev, 
	libc-ares-dev, 
	libcppunit-dev, 
	libcurl-dev, 
	libgdbm-dev, 
	libgtest-dev, 
	libhiredis-dev, 
	libdnet-dev, 
	libevent-dev, 
	libltdl-dev, 
	libodb-mysql-dev, 
	libssl-dev, 
	libpcre3-dev, 
	libpopt-dev, 
	libv8-dev, 
	libxerces-c-dev, 
	libzmq-dev, 
	libleveldb-dev, 
	libhttp-parser-dev, 
	libexpat-dev, 
	libdb-dev,
	libconfig++-dev, 
	libjpeg-dev, 
	libmcrypt4, 
	libogg-dev, 
	libpcap-dev, 
	libtheora-dev, 
	libtiff-dev, 
	libvorbis-dev, 
	libxml2-dev, 
	libncurses-dev, 
	libpoco-dev, 
	libspeex-dev, 
	libpcre3-dev, 
	libxmlrpc-c++8-dev, 
	libxmlrpc-core-c3-dev, 
	libuv0.10-dev
Provides:  karoolibs-2.0.3-dev
Description: Karoo Bridge sahred libraries and applications - development files


